<main>

    <section>
        <header>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="80%" valign="top">
                        <h1>Observations: August 5-11th 2021</h1>
                    </td>
                    <td width="2%" valign="top">
                        <img src="https://keywell.com.au/wp-content/uploads/2023/06/cropped-keywell_logoA.png" width="100" />
                    </td>
                </tr>
            </table>
        </header>

        <div class="main-page-container">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="40%" valign="top">
                        <h3>Investigate</h3>
                    </td>
                    <td width="10%" valign="top"></td>
                    <td width="40%" valign="top">
                        <h3>Acknowledge</h3>
                    </td>
                </tr>
                <tr>
                    <td width="40%" valign="top">
                        <img src="images/chart_1.png" width="100%" />
                    </td>
                    <td width="10%" valign="top"></td>
                    <td width="40%" valign="top">
                        <img src="images/chart_2.png" width="100%" />
                    </td>
                </tr>
                <tr>
                    <td width="40%" valign="top">
                        <div>
                            <h4>Sleep Log</h4>
                            <span class="activity-icon grey"><img src="images/icon_none.png" width="100%" /></span>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon grey"><img src="images/icon_none.png" width="100%" /></span>
                            <span class="activity-icon grey"><img src="images/icon_none.png" width="100%" /></span>
                            <span class="activity-icon grey"><img src="images/icon_none.png" width="100%" /></span>
                            <span class="activity-icon"></span>
                            <span class="activity-icon"></span>
                        </div>
                        <div>
                            <h4>Intuniv 2mg Log</h4>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon"></span>
                            <span class="activity-icon"></span>
                        </div>
                        <div>
                            <h4>Concerta</h4>
                            <span class="activity-icon"></span>
                            <span class="activity-icon purple"><img src="images/icon_1.png" width="100%" /></span>
                            <span class="activity-icon blue"><img src="images/icon_3.png" width="100%" /></span>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon"></span>
                            <span class="activity-icon"></span>
                        </div>
                    </td>
                    <td width="10%" valign="top"></td>
                    <td width="40%" valign="top">
                        <div>
                            <h4>Sleep Log</h4>
                            <span class="activity-icon grey"><img src="images/icon_none.png" width="100%" /></span>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon grey"><img src="images/icon_none.png" width="100%" /></span>
                            <span class="activity-icon grey"><img src="images/icon_none.png" width="100%" /></span>
                            <span class="activity-icon grey"><img src="images/icon_none.png" width="100%" /></span>
                            <span class="activity-icon"></span>
                            <span class="activity-icon"></span>
                        </div>
                        <div>
                            <h4>Intuniv 2mg Log</h4>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon"></span>
                            <span class="activity-icon"></span>
                        </div>
                        <div>
                            <h4>Concerta</h4>
                            <span class="activity-icon"></span>
                            <span class="activity-icon purple"><img src="images/icon_1.png" width="100%" /></span>
                            <span class="activity-icon blue"><img src="images/icon_3.png" width="100%" /></span>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>
                            <span class="activity-icon"></span>
                            <span class="activity-icon"></span>
                        </div>

                    </td>
                </tr>
            </table>
        </div>

    </section>

    {{#each insights}}
    <section class="daily-page">
        <header>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="80%" valign="top">
                        <h1>Observations: August 5-11th 2021</h1>
                    </td>
                    <td width="2%" valign="top">
                        <img src="https://keywell.com.au/wp-content/uploads/2023/06/cropped-keywell_logoA.png" width="100" />
                    </td>
                </tr>
            </table>
        </header>
        <div class="page-heading">
            <img src="images/heading_bg.png" width="100%" />
            <h2>{{this.date}}</h2>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td align="center" width="32%" valign="top">
                    <img src="images/time_of_day_morning.png" width="50" />
                </td>
                <td width="2%" valign="top"></td>
                <td align="center" width="32%" valign="top">
                    <img src="images/time_of_day_afternoon.png" width="50" />
                </td>
                <td width="2%" valign="top"></td>
                <td align="center" width="32%" valign="top">
                    <img src="images/time_of_day_night.png" width="50" />
                </td>
            </tr>
            <tr>
                {{#each this.observation}}
                <td width="32%" valign="top">
                    <div class="observation-item">
                        <div class="record">
                            <h5 class="has-icon"><span class="activity-icon"><img src="images/icon_1.png" width="100%" /></span>
                                {{#each this.medications}}
                                    {{this.medication.medication.name}} {{this.medication.dose}}
                                {{/each}}
                            </h5>
                        </div>
                    </div>
                    <div class="observation-item">
                        <div class="record">
                            <h5>Investigate</h5>
                            {{#each this.observation.tags}}
                            {{/each}}

                            <div class="pills red">
                                {{this.observation.length}}
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a eros et lectus ultrices fringilla.</p>
                        </div>
                        <div class="record">
                            <h5>Day-to-day Activity</h5>
                            <div class="pills">Going to sleep</div>
                            <p></p>
                        </div>
                        <div class="record">
                            <h5>Your response</h5>
                            <div class="response-faces">
                                <div class="response-item">
                                    <img src="images/response_positive.png" width="30" />
                                    <span>Positive</span>
                                </div>
                                <div class="response-item">
                                    <img src="images/response_calm.png" width="30" />
                                    <span>Calm</span>
                                </div>
                            </div>
                            <div class="pills">Used humor</div>
                            <div class="pills">Validated the emoiton</div>
                            <p></p>
                        </div>
                    </div>
                </td>
                <td width="2%" valign="top"></td>
                {{/each}}
            </tr>
        </table>
    </section>
    {{/each}}

<!--    <section class="daily-page">-->
<!--        <header>-->
<!--            <table cellpadding="0" cellspacing="0" border="0" width="100%">-->
<!--                <tr>-->
<!--                    <td width="80%" valign="top">-->
<!--                        <h1>Observations: August 5-11th 2021</h1>-->
<!--                    </td>-->
<!--                    <td width="2%" valign="top">-->
<!--                        <img src="https://keywell.com.au/wp-content/uploads/2023/06/cropped-keywell_logoA.png" width="100" />-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </header>-->
<!--        START [data->insights]-->
<!--        <div class="page-heading">-->
<!--            <img src="images/heading_bg.png" width="100%" />-->
<!--            <h2>[data->insights-date]  August 10th 2023</h2>-->
<!--        </div>-->
<!--        <table cellpadding="0" cellspacing="0" border="0" width="100%">-->
<!--            <tr>-->
<!--                <td align="center" width="32%" valign="top">-->
<!--                    <img src="images/time_of_day_morning.png" width="50" />-->
<!--                </td>-->
<!--                <td width="2%" valign="top"></td>-->
<!--                <td align="center" width="32%" valign="top">-->
<!--                    <img src="images/time_of_day_afternoon.png" width="50" />-->
<!--                </td>-->
<!--                <td width="2%" valign="top"></td>-->
<!--                <td align="center" width="32%" valign="top">-->
<!--                    <img src="images/time_of_day_night.png" width="50" />-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td width="32%" valign="top">-->
<!--                    START [data->insights->medications->medication]-->
<!--                    <div class="observation-item">-->
<!--                        <div class="record">-->
<!--                            <h5 class="has-icon"><span class="activity-icon"><img src="images/icon_1.png" width="100%" /></span>-->
<!--                                [data->insights->medications->medication[0]-name] [data->insights->medications->medication[0]-dose] Retalin 5mg taken</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    END [data->insights->medications->medication]-->
<!--                    <div class="observation-item">-->
<!--                        <div class="record">-->
<!--                            <h5>Investigate</h5>-->
<!--                            START [data->insights->observation->tags]-->
<!--                            <div class="pills red">[data->insights->observation->tags[0]-name] Disruptive</div>-->
<!--                            END [data->insights->observation->tags]-->
<!--                            <p>[data->insights->observation->notes] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a eros et lectus ultrices fringilla.</p>-->
<!--                        </div>-->
<!--                        <div class="record">-->
<!--                            <h5>Day-to-day Activity</h5>-->
<!--                            <div class="pills">Going to sleep</div>-->
<!--                            <p></p>-->
<!--                        </div>-->
<!--                        <div class="record">-->
<!--                            <h5>Your response</h5>-->
<!--                            <div class="response-faces">-->
<!--                                START [data->insights->observation->reaction->feelings]-->
<!--                                <div class="response-item">-->
<!--                                    <img src="images/response_positive.png" width="30" />-->
<!--                                    <span>[data->insights->observation->reaction->feelings[0]] Positive</span>-->
<!--                                </div>-->
<!--                                <div class="response-item">-->
<!--                                    <img src="images/response_calm.png" width="30" />-->
<!--                                    <span>[data->insights->observation->reaction->feelings[1]] Calm</span>-->
<!--                                </div>-->
<!--                                END [data->insights->observation->reaction]-->
<!--                            </div>-->
<!--                            START [data->insights->observation->reaction->tags]-->
<!--                            <div class="pills">[data->insights->observation->reaction->tags[0]->name] Used humor</div>-->
<!--                            <div class="pills">[data->insights->observation->reaction->tags[1]->name] Validated the emoiton</div>-->
<!--                            END [data->insights->observation->reaction->tags]-->
<!--                            <p></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </td>-->
<!--                <td width="2%" valign="top"></td>-->
<!--                <td width="32%" valign="top">-->
<!--                    START [data->insights->therapy->time["AFTERNOOON"]]-->
<!--                    <div class="observation-item">-->
<!--                        <div class="record">-->
<!--                            <h5>Therapy</h5>-->
<!--                            START [data->insights->therapy->tags]-->
<!--                            <div class="pills">[data->insights->therapy->tags[0]->name] Psychology</div>-->
<!--                            END [data->insights->therapy->tags]-->
<!--                            <p>[data->insights->therapy->notes] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a eros et lectus ultrices fringilla.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    END [data->insights->therapy->time["AFTERNOOON"]]-->
<!--                </td>-->
<!--                <td width="2%" valign="top"></td>-->
<!--                <td width="32%" valign="top">-->
<!--                    <div class="observation-item">-->
<!--                        <div class="record">-->
<!--                            <h5>Investigate</h5>-->
<!--                            START [data->insights->observation->tags]-->
<!--                            <div class="pills red">[data->insights->observation->tags[0]-name] Disruptive</div>-->
<!--                            END [data->insights->observation->tags]-->
<!--                            <p>[data->insights->observation->notes] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a eros et lectus ultrices fringilla.</p>-->
<!--                        </div>-->
<!--                        <div class="record">-->
<!--                            <h5>Day-to-day Activity</h5>-->
<!--                            <div class="pills">Going to sleep</div>-->
<!--                            <p></p>-->
<!--                        </div>-->
<!--                        <div class="record">-->
<!--                            <h5>Your response</h5>-->
<!--                            <div class="response-faces">-->
<!--                                START [data->insights->observation->reaction->feelings]-->
<!--                                <div class="response-item">-->
<!--                                    <img src="images/response_positive.png" width="30" />-->
<!--                                    <span>[data->insights->observation->reaction->feelings[0]] Positive</span>-->
<!--                                </div>-->
<!--                                <div class="response-item">-->
<!--                                    <img src="images/response_calm.png" width="30" />-->
<!--                                    <span>[data->insights->observation->reaction->feelings[1]] Calm</span>-->
<!--                                </div>-->
<!--                                END [data->insights->observation->reaction]-->
<!--                            </div>-->
<!--                            START [data->insights->observation->reaction->tags]-->
<!--                            <div class="pills">[data->insights->observation->reaction->tags[0]->name] Used humor</div>-->
<!--                            <div class="pills">[data->insights->observation->reaction->tags[1]->name] Validated the emoiton</div>-->
<!--                            END [data->insights->observation->reaction->tags]-->
<!--                            <p></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    START [data->insights->sleep["EVENING"]]-->
<!--                    <div class="observation-item">-->
<!--                        <div class="record">-->
<!--                            <h5 class="has-icon"><span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>Sleep incident recorded</h5>-->
<!--                            START [data->insights->sleep->tags]-->
<!--                            <div class="pills">[data->insights->sleep->tags[0]->name] Interupted sleep</div>-->
<!--                            <div class="pills">[data->insights->sleep->tags[1]->name] nightmares</div>-->
<!--                            END [data->insights->sleep->tags]]-->
<!--                            <p>[data->insights->sleep->notes] Came in to our bed</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    END [data->insights->sleep["EVENING"]]-->
<!--                    START [data->insights->medications->medication]-->
<!--                    <div class="observation-item">-->
<!--                        <div class="record">-->
<!--                            <h5 class="has-icon"><span class="activity-icon blue"><img src="images/icon_3.png" width="100%" /></span>-->
<!--                                [data->insights->medications->medication[0]-name] [data->insights->medications->medication[0]-dose] Melotorine 2 gummies taken</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    END [data->insights->medications->medication]-->

<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        END [data->insights]-->
<!--    </section>-->

<!--    <section class="daily-page">-->
<!--        <header>-->
<!--            <table cellpadding="0" cellspacing="0" border="0" width="100%">-->
<!--                <tr>-->
<!--                    <td width="80%" valign="top">-->
<!--                        <h1>Observations: August 5-11th 2021</h1>-->
<!--                    </td>-->
<!--                    <td width="2%" valign="top">-->
<!--                        <img src="https://keywell.com.au/wp-content/uploads/2023/06/cropped-keywell_logoA.png" width="100" />-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </header>-->
<!--        <div class="page-heading">-->
<!--            <img src="images/heading_bg.png" width="100%" />-->
<!--            <h2>August 9th 2023</h2>-->
<!--        </div>-->
<!--        <table cellpadding="0" cellspacing="0" border="0" width="100%">-->
<!--            <tr>-->
<!--                <td align="center" width="32%" valign="top">-->
<!--                    <img src="images/time_of_day_morning.png" width="50" />-->
<!--                </td>-->
<!--                <td width="2%" valign="top"></td>-->
<!--                <td align="center" width="32%" valign="top">-->
<!--                    <img src="images/time_of_day_afternoon.png" width="50" />-->
<!--                </td>-->
<!--                <td width="2%" valign="top"></td>-->
<!--                <td align="center" width="32%" valign="top">-->
<!--                    <img src="images/time_of_day_night.png" width="50" />-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td width="32%" valign="top">-->
<!--                    <div class="observation-item">-->
<!--                        <div class="record">-->
<!--                            <h5 class="has-icon"><span class="activity-icon"><img src="images/icon_1.png" width="100%" /></span>Retalin 5mg taken</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="observation-item">-->
<!--                        <div class="record">-->
<!--                            <h5>Investigate</h5>-->
<!--                            <div class="pills red">Disruptive</div>-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a eros et lectus ultrices fringilla.</p>-->
<!--                        </div>-->
<!--                        <div class="record">-->
<!--                            <h5>Day-to-day Activity</h5>-->
<!--                            <div class="pills">Going to sleep</div>-->
<!--                            <p></p>-->
<!--                        </div>-->
<!--                        <div class="record">-->
<!--                            <h5>Your response</h5>-->
<!--                            <div class="response-faces">-->
<!--                                <div class="response-item">-->
<!--                                    <img src="images/response_positive.png" width="30" />-->
<!--                                    <span>Positive</span>-->
<!--                                </div>-->
<!--                                <div class="response-item">-->
<!--                                    <img src="images/response_calm.png" width="30" />-->
<!--                                    <span>Calm</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="pills">Used humor</div>-->
<!--                            <div class="pills">Validated the emoiton</div>-->
<!--                            <p></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </td>-->
<!--                <td width="2%" valign="top"></td>-->
<!--                <td width="32%" valign="top">-->
<!--                    <div class="observation-item">-->
<!--                        <div class="record">-->
<!--                            <h5>Therapy</h5>-->
<!--                            <div class="pills">Psychology</div>-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a eros et lectus ultrices fringilla.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </td>-->
<!--                <td width="2%" valign="top"></td>-->
<!--                <td width="32%" valign="top">-->
<!--                    <div class="observation-item">-->
<!--                        <div class="record">-->
<!--                            <h5>Investigate</h5>-->
<!--                            <div class="pills red">Disruptive</div>-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a eros et lectus ultrices fringilla.</p>-->
<!--                        </div>-->
<!--                        <div class="record">-->
<!--                            <h5>Day-to-day Activity</h5>-->
<!--                            <div class="pills">Going to sleep</div>-->
<!--                            <p></p>-->
<!--                        </div>-->
<!--                        <div class="record">-->
<!--                            <h5>Your response</h5>-->
<!--                            <div class="response-faces">-->
<!--                                <div class="response-item">-->
<!--                                    <img src="images/response_positive.png" width="30" />-->
<!--                                    <span>Positive</span>-->
<!--                                </div>-->
<!--                                <div class="response-item">-->
<!--                                    <img src="images/response_calm.png" width="30" />-->
<!--                                    <span>Calm</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="pills">Used humor</div>-->
<!--                            <div class="pills">Validated the emoiton</div>-->
<!--                            <p></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="observation-item">-->
<!--                        <div class="record">-->
<!--                            <h5 class="has-icon"><span class="activity-icon red"><img src="images/icon_2.png" width="100%" /></span>Sleep incident recorded</h5>-->
<!--                            <div class="pills">Interupted sleep</div>-->
<!--                            <div class="pills">nightmares</div>-->
<!--                            <p>Came in to our bed</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="observation-item">-->
<!--                        <div class="record">-->
<!--                            <h5 class="has-icon"><span class="activity-icon blue"><img src="images/icon_3.png" width="100%" /></span>Melotorine 2 gummies taken</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </section>-->
</main>